Package: com.rov3r.tumblrplusplus
Name: Tumblr ++
Author: Rov3r <rov3r@me.com>
Description: Add more to Tumblr!
Homepage: https://rov3r.github.io/rov3r.com_files/tumblr++/tumblr++.html
Depiction: https://rov3r.github.io/rov3r.com_files/tumblr++/tumblr++.html
Depends: mobilesubstrate
Maintainer: Rov3r <rov3r@me.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.7
Installed-Size: 104
