Package: com.duckyz.tumblrtosafari
Name: TumblrToSafari
Author: Duckyz
Description: Disables SafariViewService in Tumblr which will allows you to open links in Safari instead of the in-app browser. This tweak also prevents SafariViewService from constantly crashing.
Depends: mobilesubstrate
Maintainer: Rov3r <jaredsiphonehelp@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.0
