Package: com.rov3r.nomirror11fft
Name: NoMirror11 for FaceTime
Author: Rov3r
Description: Disable FaceTime Live Feed
Homepage: https://rov3r.github.io/rov3r.com_files/nomirror11/tweak.html
Depends: mobilesubstrate
Maintainer: Rov3r <jaredsiphonehelp@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.1
Installed-Size: 120
