Package: com.zidapi.disableios11sspreview
Name: NoScreenShot11
Author: zidapi
Description: Disables the Preview and Flash Effect when taking screenshots. Credit goes to u/p0wer0n for pointing me in the right direction.
Depends: mobilesubstrate
Maintainer: Rov3r <jaredsiphonehelp@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.1
