Package: com.rov3r.betternetplusplus
Name: Betternet++
Author: Rov3r
Description: Premium Betternet (The ads are very intrusive and they're careless with your information. Use Betternet VPN sparingly. See more here: https://restoreprivacy.com/betternet-review/)
Depends: mobilesubstrate
Maintainer: Rov3r <jaredsiphonehelp@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.0
Installed-Size: 120
