Package: com.rov3r.ytmusicplus
Name: YTMusicPlus
Author: Rov3r
Description: https://rov3r.github.io/depiction/com.rov3r.ytmusicplus/index.html
Depiction: https://rov3r.github.io/depiction/com.rov3r.ytmusicplus/index_files/ytmusicplus.png
Depends: mobilesubstrate
Maintainer: Rov3r <rov3r@me.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.1
