Package: com.rov3r.ytmusicplus
Name: YTMusicPlus
Author: Rov3r
Description: Remove Ads Completely on YouTube Music 
Depends: mobilesubstrate
Maintainer: Rov3r <rov3r@me.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.1
