Package: com.rov3r.igadkiller
Name: IGAdKiller
Author: Rov3r
Description: Say goodbye to Instagram Stories Ads! (Works on the latest version as of May 2, 2018)
Depends: mobilesubstrate
Maintainer: rov3r <rov3r@icloud.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.0
Installed-Size: 120
