Architecture: iphoneos-arm
Author: ttwj <terencetanwj@gmail.com>
Depends: zip
Description: Clutch, the fastest and most advanced cracking utility for the iPhone, iPod Touch, and iPad. Works with all devices, iOS versions, architecture types, with most binaries..
Maintainer: iPhoneCake.com
Homepage: https://github.com/KJCracks/Clutch
Name: Clutch 
Package: com.iphonecake.clutch
Section: Tweaks
Version: 1.4.7-3

