Package: com.rov3r.allboardsunlocked
Name: TouchgrindUnlocked (by Rov3r)
Author: Rov3r
Description: Unlock all Touchgrind (Original) Boards
Homepage: https://rov3r.github.io/rov3r.com_files/touchgrind/touchgrind.html
Depiction: https://rov3r.github.io/rov3r.com_files/touchgrind/touchgrind.html
Depends: mobilesubstrate
Maintainer: Rov3r <jaredsiphonehelp@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.2
