Package: com.rov3r.ytwatchplus
Name: YTWatchPlus
Author: Rov3r
Description: Disables Ads, Enables Background Playback. Works on the latest version as of July 8, 2018.
Depiction: https://rov3r.github.io/depiction/com.rov3r.ytwatchplus/index.html
Depends: mobilesubstrate
Maintainer: Rov3r <rov3r@me.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.4
