Package: com.(null).StravaPlus
Name: StravaPlus
Author: (null)
Description: 
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
