Package: com.rov3r.R3F1ND
Name: R3F1ND
Depends: winterboard, OSversion=>9.92
Version: 0.1
Architecture: iphoneos-arm
Description: A simple and refined theme! (made for winterboard)
Homepage: http://www.jaredsiphonehelp.com/
Maintainer: Jared Gardner (@Rov3rRepo) <all.device.help@gmail.com>
Author: Jared Gardner (@Rov3rRepo) <all.device.help@gmail.com>
Section: Themes
