Package: com.rov3r.ytmusicplus
Name: YTMusicPlus
Author: Rov3r
Description: Enhance your YouTube Music experience
Depiction: https://rov3r.github.io/depiction/com.rov3r.ytmusicplus/tweak_depiction.html
Depends: mobilesubstrate
Maintainer: Rov3r <rov3r@icloud.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.3.2-1
Installed-Size: 216
